.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 8vw;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 50px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  border-radius: 30px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  border: none;
  font-size: 18px;
  margin-left: 8px;
}

.sidebar__searchContainer > input {
  border: none;
  margin: 0 5px;
  outline: none;
}

.sidebar__chat {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  scrollbar-width: none;
}
